*.o
*.so
*.a
freesasa
example
test
.DS_Store
*~
a.out
*.dvi
*.aux
*.log
*.pdf
*.ps
doc/fig/lnr_*.eps
doc/doxygen
doc/Doxyfile
doc/doxyfile.stamp
*.gcda
*.gcno
*.out
*.gcov
*.trs
config.status
configure.scan
stamp-h1
*.tar.gz
*.deps
test-driver
autom4te.cache
tmp*
doc/doxygen
bindings/python/*.c
doc/html/
*.cache
